* {
  margin: 0px;
  padding: 0px;
}

body {
    background: #e2e2e2;
  }

h1 {
    color: #47b9a6;
    font-family: 'Charis SIL', serif;
  }

  h2 {
    color: #47b9a6;
    font-family: 'Charis SIL', serif;
    font-size: 28px;
  }

  h3 {
    color: #47b9a6;
    font-family: 'Charis SIL', serif;
    text-align: center;
    font-size: 20px;
  }

.navbar {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .nav-links {
    display: flex;
  }

.navbar li {
    display: inline-block;
    position: relative;
    cursor: pointer;
  }

.navbar li a {
    color: #000;
  }

  .navbar-brand {
    background-color: #47b9a6;
    padding: 10px;
  }

  [class*="col-"] {
    background-clip: padding-box;
    border: 15px solid transparent;
    align-items: center;
}

img {
  margin: auto;
  display: block;
}


  @media (max-width: 991px) {
    .navbar {
        background-color: #47b9a6;
    }
}


